ul{
    padding:0;
}
ul .bm-list{
 
    min-height: 700px;
    height:auto;    
    width:100%;
   
}
.bm-list li{
    list-style: none;
}
.bm-title{
    text-align: center;
    margin:10px;
}
@media only screen and (min-width: 760px) {
  
}