.search-results{
    list-style: none;
display:contents;
 width:auto;
height:fit-content;


}
.results-container{
    /* margin:auto; */
    margin-left:auto;
margin-right:auto;
width:100%;
}
.meal-item{
    margin-top:20px;
    list-style: none;
    box-shadow:    3px 10px 3px 6px rgba(128, 125, 127, 0.137) inset;
    padding:10px;
    width:100vw;
}

.meal-img{
    max-width: 150px;
   
}
div.results-container{
    height:100%;
    /* overflow: scroll; */
}
.meal-options{
    float:right;
    
}