.meal-item-page{
    display: grid;
    grid-template-columns:150px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
      "back item"
      "inst ing"
      ;
      width:90vw;
    height: 90vh;
  }
  .back-btn{
      font-size: 1.3em;
    grid-area: back;
    height:150px;
    width:150px;
 
}

.page-ing-list{
    list-style: none;
    margin: auto;
    /* background-color: rgb(49, 30, 30); */
}

.meal-info-container{
/* width: 100%; */
height:auto;
margin: auto;
display: flex;
flex-direction: column;
}
.meal-item-page-pic{
    max-width:400px;
    max-height:400px;
}
@media only screen and (min-width: 760px) {


}