.meal-date{
    font-size:1.1rem;
    text-align: center;
   margin-top:5px;

}

.calendar{
    margin:auto;
   
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.904);
  
    

}

.mod-container{
    grid-column:1/2;
    grid-row:2/3;
    padding-top: 15px;
    /* background-color:rgb(180, 180, 180); */
    /* box-shadow: 10px 10px 8px 10px #888888; */
}

.meal-deal-page{
    margin-top: 45px;
    height:100vh;

    

}

.form-box{

    padding-top:50px;
  background-color:none;
 
}

.form-buttons button {
    border-top:1px solid black;
    /* border-bottom:1px solid black; */
    border-left:1px solid black;
    border-right:1px solid black;
    width: 33.3vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:25px;
    box-shadow: 3px 3px   rgba(116, 116, 116, 0.274) inset;
  
}
/* .form-buttons button:focus{
    border-bottom:none;
    box-shadow: none;
    background-color: white;
} */

.add-meal-form-btn{
    background-color: rgba(0, 255, 255, 0.411);
    border-bottom:1px solid black;

 
}
.bookmarks-btn{
    background-color: rgba(145, 255, 0, 0.411);
    border-bottom:1px solid black;

}
.explorer-btn{
    background-color: rgba(195, 0, 255, 0.411);
    border-bottom:1px solid black;

}

.selected{
    border-bottom:none;
    box-shadow: 0px 0px 0px rgb(248, 248, 248);;
    background-color: rgb(248, 248, 248);


}
@media only screen and (min-width: 760px) {
    .meal-deal-page{
        margin-top:45px;
      
        height:100vh;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
  
    }
    .mod-container{
        grid-column:1/2;
        grid-row:2/3;

    }
    .form-container{
        grid-column:2;
        grid-row:1/3;
        height:100vh;
        text-align: center;
        background-color: rgb(248, 248, 248);
        box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.904);
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.466) inset;
    }
    .form-box{

margin:auto;
width:fit-content;


    }
    .form-buttons button{
        width:33.3%;
        height:50px;
    }
    .calendar{ 
      
        grid-column: 1/2;       
        grid-row: 1/2;
        transform: scale(1.5);
        padding:10px;
}
}

@media only screen and (max-width: 360px) {
    .calendar{
        transform: scaleY(0.9)
    }
}

@media only screen and (max-width: 320px) {
    .calendar{
        transform: scale(0.76)
    }
}