.meal-date{
    font-size:1.2rem;
    text-align: center;
   

}
.day{
    text-align: left;
}
.format-date{
    text-align: right;


}
.form-container{
    position: absolute;
    bottom:0;
    
    grid-row-start:3;
    grid-row-end: 4;
    z-index:3;
}
.form-box{
    /* border-left:.5px solid black;
    border-bottom:.5px solid black;
    border-right:.5px solid black; */
    padding:15px;
    background-color: white;
 
    box-shadow: 0px 5px 0px rgba(154, 154, 154, 0.287)inset
}

.form-buttons button {
    border-top:.5px solid black;
    border-bottom:.5px solid black;
    border-left:.5px solid black;
    border-right:.5px solid black;
    width: 33.3vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 35px;
    background-color: rgb(191, 191, 191)
}
.form-buttons button:focus {
    border-bottom:none;
    background-color: rgb(240, 248, 255)
  
}
.meal-deal-page{


}
.meal-img{
    max-width: 150px;
}

