
.planner-page{
min-height: calc(100vh - 100px);
  width:100%;
padding:.5em;

}


/* DESKTOP VIEW */
@media only screen and (min-width: 760px) {
 

      .planner-page {
        height:100%;
        width:100%;
        display: grid;
        grid-template-rows: 80px 1fr;
        grid-template-columns: 350px 1fr;
        grid-column-gap: 7px;
        grid-row-gap: 0px;
        grid-template-areas:
        "search-form search-form"
        "results calendar"
     
        }
        
       
        .res-container { 
          background-color:white;
          grid-area: results;
        border-right: 1px solid rgba(128, 128, 128, 0.795);
        }
        .search-form-container { 

          grid-area: search-form; 
          border-bottom: 1px solid black;
        }
     
     
     


 .calendar-container{
  grid-area: calendar; 
   height:auto;
   width:100%;
   max-width: 1200px;
   margin: auto;
 }





}

  
  
 