
.planner-page{
/* min-height: calc(100vh - 100px); */
  width:100%;
padding:.5em;

}
button.search-form-btn{
  padding:10px;
  margin:5px;
  background-color: transparent;
}
button.search-form-btn.disabled{
  background-color: yellow;
  pointer-events: none;

}

/* DESKTOP VIEW */
@media only screen and (min-width: 760px) {
 

      .planner-page {
        height:calc(100vh - 90px);
        width:100%;
        display: grid;
        grid-template-rows: 95px 1fr;
        grid-template-columns: 350px 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
        grid-template-areas:
        "search-form mod"
        "results calendar"
     
        }
        
       
        .res-container { 
          display: flex;
          height:calc(100vh - 150px);
          flex-direction: column;
   
          overflow-y: scroll;
          background-color:none;
          grid-area: results;
        border-right: 1px solid rgba(128, 128, 128, 0.795);
        }
        .search-form-container { 

          grid-area: search-form; 
          border-bottom: 1px solid black;
        }
     
     .mod-container{
       display: flex;
       flex-direction: row;
       grid-area: mod;
       height:95px;
   width:100%;
   margin: auto;
   background: #006edc;
     }
     button:hover{
       cursor: pointer;
     }


 .calendar-container{
  grid-area: calendar; 
   height:auto;
   width:100%;
   max-width: 1200px;
   margin: auto;
 }





}

  
  
 