.add-meal-form{
    text-align: left;
    margin:auto;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.904);
    background-color: rgba(0, 255, 255, 0.486);
    width:70%;

   
}
.add-meal-page{
  height:auto;
  width:100%;
}
.form-add-btn{
    position: relative;
    right:0px;
  bottom:0px;
  background-color: rgba(209, 212, 212, 0.932);
  border:1px solid black;
  float:right;
  /* display: block; */
  
}
.form-add-btn:hover{
  /* position:relative; */
 
background-color: rgb(0, 255, 255);
}

.add-meal-inst-list{
  min-height:100px;
  display: inline-block;
  height:auto;
  width:50%;
  border:1px solid black;
}
.add-meal-ing-list{
  min-height:100px;
  display: inline-block;
  height:auto;
  width:50%;
  border:1px solid black;
}