.landing-btn{
    display:block;
    width:33vw;
    height:25vh;
    margin:auto;
    margin-bottom:50px;
    margin-top:50px;
    cursor: pointer;

}


.explore-btn{
    /* background-color:grey; */
    background: url('../../images/explorer-pic.jpg');
}

.shoplist-btn{
    background-color:yellow;
    background:url('../../images/list-pic.jpg')
}
.planner-btn{
    /* background-color:blue; */
    background: url('../../images/plan-pic.jpg');
}


.landing-page{
height:auto;
width:100%;
}