.landing-btn{
    display:block;
    width:33vw;
    height:25vh;
    margin:auto;
    margin-bottom:50px;
    margin-top:50px;
    cursor: pointer;
    color: rgb(244, 248, 16);
    font-size: 3rem;
    text-shadow:7px 7px 15px rgb(29, 29, 29);
}


.explore-btn{
    /* background-color:grey; */
    background: url('../../images/explorer-pic.jpg')no-repeat center;
}

.shoplist-btn{
    /* background-color:yellow; */
    background:url('../../images/list-pic.jpg')no-repeat center;
}
.planner-btn{
    /* background-color:blue; */
   
    background: url('../../images/plan-pic.jpg')no-repeat center;
}


.landing-page{
height:auto;
width:100%;
}