.mod-item{
    list-style: none;
    border:1px solid black;
    border-radius:3px;
    text-align: center;
    box-shadow: 2px 2px 1px grey;
    background-color: rgba(0, 255, 255, 0.89);
    padding:5px;
    margin:auto;
    margin-bottom:5px;
    max-width: 350px;
    font-size: .75em;
    height:auto;
    min-height:4vh;
    display:block;
    
    /* cursor: pointer; */
   /* overflow: hidden; */

}
.bm-item{
    list-style: none;
    border:1px solid black;
    text-align: center;
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    background-color: rgba(145, 255, 0, 0.876);
    overflow: hidden;
    padding:5px;
    margin:auto;
    margin-bottom:5px;
    max-width: 350px;
    font-size: .75em;
    height:auto;
    min-height:4vh;
    display:block;
    
    /* cursor: pointer; */
    /* white-space: nowrap; */
   /* position: relative;
    z-index:2; */
}
.meal-img{
    max-width: 150px;
  margin:auto;
}

.item-add-btn{
    background-color: rgba(0, 255, 255, 0.637);
    float:right;
    cursor: pointer;
}

.item-del-btn{
    background-color: rgba(233, 47, 47, 0.76);
    float:left;
    cursor: pointer;
    }

.item-bm-btn{
    background-color: rgba(145, 255, 0, 0.411);
    margin-right:5px;
    float:right;
    cursor: pointer;
}
.place-holder{
    text-align: center;
    margin-top: 30px;
}
.lists{
    width:100%;
    text-align: left;
   /* display: inline-block; */
    /* text-align: left; */
    /* background-color: rgb(236, 236, 236); */
}
.ing-list{
    min-height:200px;
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    text-align: left;
    font-size:.85em;
    background-color: rgb(236, 236, 236);
  float:left;
   width:35vw;
    margin-left:30px;
    height:auto;
    height:30vh;
}
.inst-list{
    min-height:200px;
    font-size:.85em;
    background-color: rgb(236, 236, 236);
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    width:35vw;
    text-align: left;
    float:left;
    /* display: inline-block; */
    margin-left:30px;
    height:30vh;
}
.meal-name{
    
    font-size:1.1em;
}
button:hover{
    cursor: pointer;
}
@media only screen and (min-width: 760px) {
    .mod-item{
        /* min-height: auto; */
       height:auto;
        font-size: 1rem;
        margin-bottom:10px;
        width:350px;
        margin:auto;
        display:block;


    }
    .bm-item{
        font-size: 1rem;
        width:350px;
        margin:auto;
        height:auto;
        display:block;
        margin-bottom:10px;
      }
      #item-selected{
          /* position: relative; */
          right:0;
          left:0;
          top:0;
        /* height:50vh; */
        /* max-height:100vh; */
        height:100vh;
        z-index:90;
        list-style: none;
    border:1px solid black;
    border-radius:3px;
    text-align: center;
   min-width:100vw;
    box-shadow: 2px 2px 1px grey;
   opacity:95%;
    padding:10px;
    margin:auto;
    position: absolute;
    /* bottom: 0;  */
    /* transform: translate(150px, 100px); */
    /* margin-bottom:5px;
    max-width: 450px;
   font-size: 1em;

   cursor: pointer;
   display:block;
        /* transition: width 2s, height 2s, transform 2s; */
    }
  
      .meal-img{
        max-width: 250px;
      margin:auto;
      border:1px solid black;
      box-shadow: 2px 2px 2px rgba(12, 12, 12, 0.719);
    }
}