
.meal-item {
    margin-bottom: .7em;
    min-height: 80px;
    max-height: 95px;
    width:325px;
    /* min-height: 110px; */
    display: flex;
    padding: .5em;
    border-bottom: .5px solid grey;
    border-right: .5px solid grey;
    background-color: rgb(255, 255, 247);
    position: relative;
}
.meal-item img{
    height:80px;
  float: right;
}
.mod-item img{
    height:80px;
  float: right;
}
.mod-item{
    background-color:  #006edce8;
    color:white;
    width:220px;
padding:1px;
margin:5px;
border-radius: 5px;
    height:85px;
    border-bottom: .5px solid rgb(255, 255, 255);
    border-right: .5px solid rgb(255, 255, 255);
}
.mod-item .item-buttons{
    display:flex;
    flex-direction: row;
}

.meal-item a{
    text-decoration: none;

}

.item-buttons{
    height:auto;
 display: flex;
 flex-direction: column;
}
div.item-buttons button{
    padding:4px 5px;
}
div.item-buttons button:hover{
    background-color:yellow;
}
p.meal-name{
    /* display: inline-flex; */
    font-size:.9em;
    padding:3px;
    text-align: center;
    margin:auto
}
.edit-meal-page{
    background-color: pink;
    height:100vh;
    z-index:99;
}
#item-selected{
  
 height:auto;
 min-height:70vh;
 width:90vw;
 min-width:70vw;
 
 max-height:fit-content;
  list-style: none;
border:1px solid black;
border-radius:3px;
text-align: center;

box-shadow: 2px 2px 1px grey;

padding:1.5em;
margin-left:auto;
margin-right:auto;
margin-top:50px;
}

.meal-item-header{
    position:sticky;
    top: 0;
    height:100px;
    z-index: 9;
}





button.see-more-btn{
   
}
/* .place-holder{
    list-style: none;
    text-align: center;
    margin: 30px;
} */
.lists{
    width:100%;
    text-align: left;
    margin:auto;
   display: flex;
    flex-direction: row;
   flex-wrap: wrap;
}
ul.ing-list{
    /* display: block; */
    margin:auto;
    margin-bottom:10px;
    /* min-height:200px; */
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    text-align: left;
  
    background-color: rgb(236, 236, 236);
  
  min-width:35vw;
  max-width:80vw;
    margin-left:30px;
    height:fit-content;
    min-height:20vh;
    padding:1em;
    padding-left:20px;
    opacity:100%;
}
ul.inst-list{
  
    margin:auto;
    /* min-height:200px; */
    
    background-color: rgb(236, 236, 236);
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    min-width:35vw;
    max-width:80vw;
    text-align: left;
    max-width:80vw;
    margin-left:30px;
    height:fit-content;
    min-height:20vh;
    padding:1em;
    padding-left:20px;
    opacity:100%;
}



@media only screen and (min-width: 760px) {

      #item-selected {
        position: fixed;
        right:0;
        left:0;
        top:60px;
        height:auto;
        max-height:fit-content;
        padding:3em;
        margin:auto;
        
    }
  ul.ing-list{
    margin-bottom: 15px;
      margin-left:auto;
      margin-right: auto;
      margin-bottom:15px;
      width:100%;
      max-width:40vw;
      opacity: 90;
      padding-left:40px;
      height:auto;
  }
  ul.inst-list{
    margin-bottom:15px;
    max-width:50vw;
    margin-left:auto;
    margin-right: auto;
      width:100%;
      max-width:40vw;
      opacity: 90;
      padding-left:40px;
      height:auto;
}
     
   
}