.mod-item{
    list-style: none;
    border:1px solid black;
    border-radius:3px;
    text-align: center;
    box-shadow: 2px 2px 1px grey;
    background-color: rgb(97, 230, 212);
    padding:5px;
    margin:auto;
    margin-bottom:5px;
    max-width: 90vw;
    font-size: .75em;
    height:auto;
    min-height:4vh;
    /* display:block; */
   
}
.bm-item{
    list-style: none;
    border:1px solid black;
    border-radius:3px;
    text-align: center;
    box-shadow: 2px 2px 1px grey;
    background-color: #AFD275;
    padding:5px;
    margin:auto;
    margin-bottom:5px;
    max-width: 90vw;
    font-size: .75em;
    height:auto;
    min-height:4vh;
    /* display:block; */
}
.edit-meal-page{
    background-color: pink;
    height:100vh;
    z-index:99;
}
#item-selected{
  
 height:80vh;
 min-height:70vh;
 width:90vw;
 min-width:70vw;

  list-style: none;
border:1px solid black;
border-radius:3px;
text-align: center;

box-shadow: 2px 2px 1px grey;

padding:1.5em;
margin:auto;

}
#item-selected.mod-item{
    background-color: rgb(97, 230, 212);
}
#item-selected.bm-item{
    background-color: #AFD275;
}

.meal-item-header{
    position:sticky;
    top: 0;
    height:100px;
    z-index: 9;
}

.meal-img{
    max-width: 150px;
  margin:auto;
}

.item-add-btn{
    background-color: rgba(0, 255, 255, 0.637);
    float:right;
    cursor: pointer;
}

.item-del-btn{
    background-color: rgba(233, 47, 47, 0.76);
    float:left;
    cursor: pointer;
    }

.item-bm-btn{
    background-color: rgba(145, 255, 0, 0.411);
    margin-right:5px;
    float:right;
    cursor: pointer;
}
.place-holder{
    text-align: center;
    margin-top: 30px;
}
.lists{
    width:100%;
    text-align: left;
    margin:auto;
   display: block;

   
}
.ing-list{
    /* display: block; */
    margin:auto;
    margin-bottom:10px;
    min-height:200px;
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    text-align: left;
  
    background-color: rgb(236, 236, 236);
  
  min-width:35vw;
  max-width:50vw;
    margin-left:30px;
    height:fit-content;
    min-height:20vh;
    padding:2em;
    opacity:90%;
}
.inst-list{
  
    margin:auto;
    min-height:200px;
    
    background-color: rgb(236, 236, 236);
    border-radius:3px;
    box-shadow: 2px 2px 1px grey;
    min-width:35vw;
    max-width:50vw;
    text-align: left;

    margin-left:30px;
    height:fit-content;
    min-height:20vh;
    padding:2em;
  
    opacity:90%;
}
.meal-name{
    
    font-size:1.2em;
}
button:hover{
    cursor: pointer;
}
h6{
    text-align: center;
}

@media only screen and (min-width: 760px) {
    .mod-item{
        height: fit-content;
       max-height:15%;
        font-size: .90em;
        margin-bottom:5px;
        width:35vw;
        /* margin:auto; */
        display:block;


    }
    .bm-item{
        font-size: 1rem;
        width:35vw;
        margin:auto;
        height:auto;
        display:block;
        margin-bottom:10px;
      }
      #item-selected {
        position: fixed;
        right:0;
        left:0;
        top:60px;
        height:auto;
        max-height:90vh;
        /* width:50vw; to do:  use flex here to render lists side by side  */ 
        padding:5em;
        
    }
  .ing-list{
      width:fit-content;
      margin:auto;
      margin-bottom:15px;
  }
  .inst-list{
      margin: auto;
      width:fit-content;
}
      .meal-img{
        max-width: 350px;
      margin:auto;
      border:1px solid black;
      box-shadow: 2px 2px 2px rgba(12, 12, 12, 0.719);
    }
}