.meal-date{
    font-size:1.2em;
    text-align: center;
    margin-top:5px;

}

.calendar{
    margin:auto;
    box-shadow: 0px 0px 10px rgba(107, 107, 107, 0.904);
    margin-top:50px;
}

.tileClassName{
    background-color:pink;
}

.mod-container{
    grid-column:1/2;
    grid-row:2/3;
    padding-top: 15px;
}

.meal-deal-page{
 
    height:auto;
    width:100%;
}

.form-box{
    padding-top:50px;
    background-color:none;
}

.form-buttons button {
    border-top:1px solid black;
    /* border-bottom:1px solid black; */
    border-left:1px solid black;
    border-right:1px solid black;
    width: 33.3vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:25px;
    box-shadow: 3px 3px 2px  rgba(116, 116, 116, 0.514) inset;
    
       
}
.form-buttons{
    /* position:sticky; */
    top:40px;
    z-index:7;
    position: fixed;
    display: contents;
}
.add-meal-form-btn{
    background-color: rgb(0, 255, 255);
    border-bottom:1px solid black;

 
}
.bookmarks-btn{
    background-color: rgb(145, 255, 0);
    border-bottom:1px solid black;
   
  
}
.explorer-btn{
    background-color: rgb(195, 0, 255);
    border-bottom:1px solid black;
 
}

.selected{
    border-bottom:none;
    box-shadow: 0px 0px 0px rgb(248, 248, 248);
    background-color: rgb(248, 248, 248);
}


@media only screen and (min-width: 760px) {
    .meal-deal-page{
       padding-top:80px;
        height:auto;
        width:100%;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
  
    }
    .mod-container{
        margin-top: 80px;
        position:fixed;
        top:50%;
        width:50%;
      margin:auto;
      height:auto;
      /* height:700px; */

    }
   .form-container{
        grid-column:2;
        grid-row:1/3;
      
       width:100%;
    
       min-height: calc(100vh - 90px);
       height:auto;
       margin-right:5px;
        text-align: center;
        background-color: rgb(248, 248, 248);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.466) inset;
        /* overflow: auto; */
     
    }

    .form-box{
        margin:auto;
        height:auto;
        width:100%;
        /* height:fit-content; */
    }

    .form-buttons button{
        width:33.3%;
        height:45px;
        z-index: 6;
  
        
        
    }
    .cal-container{
    
        position:fixed;
        top:45px;
        /* height:auto; */
        width:50%;
      margin:auto;
      
        

    }
    div.react-calendar.calendar{       
      width:80%;
      height:80%;
        
  
       
    }
    .react-calendar button{
        /* background-color: pink; */
      line-height:2;
        font-weight:500;
    font-size: medium; 
    }
  

}

@media only screen and (max-width: 360px) {
    .calendar{
        transform: scaleY(0.9)
    }
}

@media only screen and (max-width: 320px) {
    .calendar{
        transform: scale(0.76)
    }
}