

.mod-list{
  height:auto;
  width:100%;
  
  list-style: none;
  
}
.mod-page{
    height:auto;
    min-height:200px;
    width:100%;
    /* overflow-y:auto; */
   
}
.mod-day{
   
    color:  #006edc;
    margin:auto;
    font-size: 1.2em;
    font-weight: bolder;
}

@media only screen and (min-width: 760px) {


   
    .mod-list{
        margin:0;
       display: flex;
       flex-direction: row;
    }
   


}
