

.mod-list{
   padding:0px;
   min-height:30vh;
  
}
.mod-page{
    /* height:auto; */
    height:500px;
    width:100%;
    /* overflow-y:auto; */
   
}


@media only screen and (min-width: 760px) {


   
    .mod-list{
        height: 70%;
        overflow-y: auto;
    }
   

    .mod-page{
        min-height:fit-content;
        height:600px;
        width:100%;
        /* overflow-y:auto; */
       
    }


}
