


.submit-search-btn{
    width:75px;
    padding:5px;
    
    height:fit-content;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}
.submit-search-btn:hover{
    background-color: rgb(47, 255, 109);
}

@media only screen and (min-width: 760px) {
   

   
}