.main-header {
  
    width: 100%;
    background-color:rgba(254, 255, 255, 0.993);
    height:50px;

  
    /* box-shadow: 10px 13px 15px rgba(0, 0, 0, 0.308); */
    opacity: .97;
  }
  
div .nav-links *{
  margin-right:40px;
}
  
  .main-header h1 {
    text-align: center;
    margin:auto;
    font-size: 16px;
  }
  
  .nav-links {
    display: block;
    float: right;
    font-size: 14px;
  
  
  }
  
  .nav-links a {
    margin-left: 1em;
  }
  
  .nav-links p {
    display: inline;
    cursor: default;
  }
  
  .nav-links a:hover {
    opacity: 0.7;
  }
  
  .deal {
    color:  rgb(195, 0, 255)
  }
  .meal{
    color: rgb(64, 110, 3)
  }
  
  @media only screen and (max-width: 760px) {
    .nav-links {
      width: 200px;
    }
    .nav-links a, .nav-links p {
      font-size: .85em;
    }
  
    .main-header nav {
    
    }
  
    .nav-links nav{
      display: inline-block;
      padding-right: 0;
      padding-left: 0;
      width: 160px;
    }
  }
  