.main-header {
  
    width: 100%;
    background-color:rgba(254, 255, 255, 0.993);
    height:50px;

  
    /* box-shadow: 10px 13px 15px rgba(0, 0, 0, 0.308); */
    opacity: .97;
  }
  
div .nav-links *{
  margin-right:40px;
}
  
  .main-header h1 {
    text-align: center;
    margin:auto;
    font-size: 16px;
  }
  
  .nav-links {
    display: inline-flex;
    float: right;
    font-size: 14px;
  
  
  }
  
  .nav-links a {
    margin-left: 1em;
    text-decoration: none;
  }
  
  .nav-links p {
    display: inline;
    cursor: default;
  }
  
  .nav-links a:hover {
    opacity: 0.7;
  }
  
  .deal {
    font-size: 1.3em;
    color:  rgb(195, 0, 255)
  }
  .meal{
    font-size: 1.3em;
    color: rgb(64, 110, 3)
  }
  p#user-name{
    position: absolute;
    left: 50px;
    top: 10px;
  
  }
  @media only screen and (max-width: 760px) {
   
    .nav-links a, .nav-links p {
      font-size: .85em;
    }
  
    .main-header h1 {
    text-align: left;
    }
  
    div .nav-links *{
      margin-right:10px;
    }
  
   
  }
  