.sidebar{
    /* height:100vh; */
   
}
.sidebar-icons{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sidebar-icons *{
    margin-top:80px;
}


.sidebar:hover:before{
    visibility: collapse;
    background-color: lightpink;
}
.sidebar:hover:after{
    visibility: visible;
}