.calendar{
    margin:auto;
    /* margin-top:10px; */
    box-shadow: 0px 0px 10px rgba(194, 145, 145, 0.287)inset;
    grid-row-start: 1;
    grid-row-end: 2;
   height:auto;
}

.planner-page{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 38% 30% 32%;
    height:95vh;
    margin-top:3vh;
   
}
@media only screen and (min-width: 760px) {
    /* .calendar{
        transform: scale(1.5)
    } */
}

@media only screen and (max-width: 360px) {
    .calendar{
        transform: scaleY(0.9)
    }
}

@media only screen and (max-width: 320px) {
    .calendar{
        transform: scale(0.76)
    }
}