
.planner-page{
min-height: calc(100vh - 100px);
  width:100%;
padding:.5em;

}


/* DESKTOP VIEW */
@media only screen and (min-width: 760px) {
  .planner-page{
    display: flex;
     
    }


 .calendar-container{
   height:auto;
   width:100%;
   max-width: 1200px;
   margin: auto;
 }





}

  
  
 